{% set opsmatic = salt['grains.filter_by']({
    'default': {
        'config': '/etc/opsmatic-agent.conf'
    },
    'Debian': {
        'config': '/etc/opsmatic-agent.conf'
    },
    'RedHat': {
        'config': '/etc/opsmatic-agent.conf'
    },
    'CentOS': {
        'config': '/etc/opsmatic-agent.conf'
    },
    'Gentoo': {
        'config': '/etc/opsmatic-agent.conf'
    },
},
merge=salt['pillar.get']('opsmatic:lookup'), default='default') %}
